<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- <title>Welcome!</title> -->
    <title>Welcome back,
      <% if(name !== undefined){ %>
      <%= name %>
      <%} else {%>
      Guest
      <%} %>
      !
    </title>
  </head>
  <body>
    <h2>Welcome back,
      <% if(name !== undefined){ %>
      <%= name %>
      <%} else {%>
      Guest
      <%} %>
      !
    </h2>
  </body>
</html>