body {
  font-family: 'Calibri';
}

#coctail-names {
  word-spacing: 20px;
  font-size: 16px;
}

#cocktail {
  text-indent: 10px;
}

#price {
  text-align: center;
}

th {
  background-color: black;
  color: white;
  height: 40px;
}

th:nth-child(odd) {
  width: 350px;
}

tr:nth-child(odd) {
  background-color: lightgrey;
}

tr {
  height: 60px;
}